.container {
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  transition: var(--transition);
  user-select: none;
  height: min(10vw, calc(0.10 * var(--max-width)));
  width: min(10vw, calc(0.10 * var(--max-width)));
}

.container.active {
  background-color: var(--active-background-color);
}

.container.puzzle {
  font-weight: normal;
  color: var(--puzzle-color);
}

.container:hover {
  background-color: var(--hover-background-color);
}