.container {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--black);
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  font-size: 20px;
  font-weight: 'bold';
  height: auto;
  justify-content: center;
  transition: var(--transition);
  user-select: none;
}

.container.active {
  background-color: var(--blue);
}

.container.puzzle {
  font-weight: normal;
}

.container:before {
  padding-top: 100%;
  content: '';
  float: left;
}

.container:hover {
  background-color: var(--lightBlue)
}