.button {
  color: var(--button-color);
  opacity: 0.9;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--button-background-color);
  padding: 0;
  margin: 4px 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(9vw, calc(0.09 * var(--max-width)));
  width: min(9vw, calc(0.09 * var(--max-width)));
}

.button:hover {
  opacity: 0.6;
}