:root {
  --background: radial-gradient(#858CEA, #6564DB);
  --button-background-color: #101D42;
  --button-color: #fff;
  --border-color: #101D42;
  --puzzle-color: #858CEA;
  --active-background-color: #D0EDF1;
  --hover-background-color: #D0EDF1;
  --transition: 0.3s;
  --max-width: 500px;
  background-image: var(--background);
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}