:root {
  --background: radial-gradient(#282c34cc, #282c34);
  --black: #282c34;
  --white: #fff;
  --blue: #a0e9fd;
  --lightBlue: #caf3fe;

  --transition: 0.3s;

  background-image: var(--background);
  color: var(--black);
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}